* {
  margin: 0%;
  padding: 0%;
}

/* .body {
  background-image: url(../img/fondo.webp);
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.03em;
  margin: 10px;
}
 */
header .body {
  background-image: url(../img/fondo.webp);
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.03em;
}
header .navbar-wrapper {
  font-size: 20px;
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0% 4% 0% 4%;
  color: white;
}
header .navbar-wrapper ul {
  width: 100%;
  text-align: right;
}
header .nav-link-color {
  color: white;
}
header .active-link {
  text-decoration: underline;
}

section {
  background-image: url(../img/fondo.webp);
}
section div {
  display: flex;
  flex-direction: column;
}
section div h1 {
  font-size: 3em;
  text-align: center;
  color: rgba(223, 255, 81, 0.7529411765);
}

footer {
  background-image: url(../img/fondo.webp);
}
footer div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.03em;
  padding-right: 6px;
  color: white;
  gap: 5px;
  flex-wrap: wrap;
}
footer div div div .social-media {
  gap: 5px;
  display: flex;
  align-items: center;
}
footer div div div .right-border {
  border-right: 1px solid white;
  padding: 0 15px 0 15px;
}
@media screen and (max-width: 425px) {
  footer div div div .right-border {
    display: none;
  }
}
footer div div div img {
  height: 25px;
  width: 25px;
}
footer div div div a {
  align-items: center;
  color: white;
  text-decoration: none;
}
@media screen and (max-width: 1000px) {
  footer div div div a {
    font-size: 0px;
  }
}
@media screen and (max-width: 425px) {
  footer div div div a {
    font-size: 0px;
  }
}
@media screen and (max-width: 1000px) {
  footer div div div span {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 425px) {
  footer div div div span {
    font-size: 0px;
  }
}

section h2 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  text-align: center;
  color: rgba(223, 255, 81, 0.7529411765);
}
section .services-wrapper2 {
  display: flex;
  margin: 0px 150px;
  align-items: center;
  flex-direction: column;
}
section .services-wrapper2 div {
  padding: 1% 1% 1% 1%;
}
section .card-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}
section .bg-img {
  background-image: url(../img/fondo.webp);
}
section .tituloServicios {
  color: rgba(223, 255, 81, 0.7529411765);
  font-size: 1.4em;
}
section .textoServicios {
  color: white;
  font-size: 1.2em;
  text-align: center;
}

.section-equipamiento {
  display: flex;
  flex-direction: column;
}
.section-equipamiento .texto-equipamiento {
  text-align: center;
  color: white;
  font-size: 1.3em;
  max-width: auto;
}
.section-equipamiento .listaEquipamiento {
  color: white;
  text-align: center;
  padding: 0%;
  font-size: 16px;
}
.section-equipamiento .fotosDivs {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.section-equipamiento .carouselsize {
  width: auto;
  height: auto;
  margin: auto;
}

section .div-producciones .produ-wrapper {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  margin: 50px 100px 70px 100px;
  padding: 0px;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  section .div-producciones .produ-wrapper {
    flex-direction: column;
  }
}
@media screen and (max-width: 425px) {
  section .div-producciones .produ-wrapper {
    flex-direction: column;
  }
  section .div-producciones .produ-wrapper iframe {
    display: none;
  }
}
section .div-producciones p {
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 5%;
  width: 50%;
  color: white;
  font-size: 20px;
}
@media screen and (max-width: 1000px) {
  section .div-producciones p {
    flex-direction: column;
    width: auto;
    padding-left: 0%;
    margin-top: 30px;
  }
}
@media screen and (max-width: 425px) {
  section .div-producciones p {
    flex-direction: column;
    font-size: 15px;
    padding-left: 0%;
    margin: auto;
  }
}

.videosProd {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
@media screen and (max-width: 1000px) {
  .videosProd {
    flex-direction: column;
  }
}
@media screen and (max-width: 425px) {
  .videosProd {
    flex-direction: column;
  }
}

.section-contacto .contact-wrapper {
  align-items: center;
  justify-content: center;
  display: flex;
}
.section-contacto .contact-info {
  display: flex;
  align-items: center;
  font-size: 24px;
  justify-content: center;
  width: 50%;
  text-decoration: none;
  gap: 20px;
}
@media screen and (max-width: 1000px) {
  .section-contacto .contact-info {
    font-size: medium;
  }
}
@media screen and (max-width: 425px) {
  .section-contacto .contact-info {
    font-size: x-small;
  }
}
.section-contacto .contact-info div iframe {
  width: 450px;
  height: 350px;
}
@media screen and (max-width: 1000px) {
  .section-contacto .contact-info div iframe {
    width: 350px;
    height: 250px;
  }
}
@media screen and (max-width: 425px) {
  .section-contacto .contact-info div iframe {
    width: 250px;
    height: 150px;
  }
}
.section-contacto .link-wrapper {
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 3px;
  text-decoration: none;
}
.section-contacto .link-wrapper ul li {
  display: flex;
  align-items: center;
  gap: 5%;
  padding-bottom: 4%;
}
.section-contacto .contact-form {
  display: block;
  text-align: center;
  color: white;
  font-size: 26px;
  width: 100%;
}
.section-contacto .form-input {
  min-width: auto;
  min-height: auto;
}
.section-contacto .form-size {
  width: 700px;
  height: auto;
}
@media screen and (max-width: 1000px) {
  .section-contacto .form-size {
    width: 400px;
  }
}
@media screen and (max-width: 425px) {
  .section-contacto .form-size {
    width: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
